@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfbfd;
  font-family: poppinsRegular;
}

@font-face {
  font-family: "poppinsLight";
  src: url(/poppins/Poppins-Light.otf);
}
@font-face {
  font-family: "poppinsRegular";
  src: url(/poppins/Poppins-Regular.otf);
}
@font-face {
  font-family: "poppinsMedium";
  src: url(/poppins/Poppins-Medium.otf);
}
@font-face {
  font-family: "poppinsSemiBold";
  src: url(/poppins/Poppins-SemiBold.otf);
}
@font-face {
  font-family: "poppinsBold";
  src: url(/poppins/Poppins-Bold.otf);
}
@font-face {
  font-family: "poppinsExtraBold";
  src: url(/poppins/Poppins-ExtraBold.otf);
}
